NODE_ENV=development
PORT=5000

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=web_xem_phim
DB_CONNECTION_LIMIT=10

JWT_SECRET=change_me
JWT_EXPIRES_IN=7d

TMDB_API_KEY=
TMDB_ACCESS_TOKEN=

AWS_REGION=ap-southeast-1
AWS_S3_INPUT_BUCKET=
AWS_S3_OUTPUT_BUCKET=
AWS_CLOUDFRONT_DOMAIN=
AWS_MEDIACONVERT_ROLE_ARN=

# Amazon Cognito User Pool / App client
AWS_COGNITO_USER_POOL_ID=
AWS_COGNITO_CLIENT_ID=
AWS_COGNITO_CLIENT_SECRET=
AWS_COGNITO_DOMAIN=https://your-domain.auth.ap-southeast-1.amazoncognito.com
AWS_COGNITO_REDIRECT_URI=http://localhost:5173/auth/callback
AWS_COGNITO_LOGOUT_URI=http://localhost:5173/

CORS_ORIGIN=http://localhost:5173
