PORT=8080
NODE_ENV=production
CLIENT_ORIGIN=https://YOUR_FRONTEND_CLOUDFRONT_DOMAIN

DB_HOST=YOUR_RDS_ENDPOINT
DB_PORT=3306
DB_USER=admin
DB_PASSWORD=YOUR_RDS_PASSWORD
DB_NAME=webapixemphim

JWT_SECRET=change-me-to-a-long-random-string
JWT_EXPIRES_IN=7d

AWS_REGION=ap-southeast-1
AWS_S3_INPUT_BUCKET=netflop-input-YOUR_TEAM
AWS_S3_OUTPUT_BUCKET=netflop-output-YOUR_TEAM
AWS_CLOUDFRONT_DOMAIN=https://YOUR_VIDEO_CLOUDFRONT_DOMAIN
AWS_MEDIACONVERT_ENDPOINT=https://YOUR_MEDIACONVERT_ENDPOINT
AWS_MEDIACONVERT_ROLE_ARN=arn:aws:iam::YOUR_ACCOUNT_ID:role/netflop-mediaconvert-role
