PORT=4000
CLIENT_ORIGIN=http://localhost:5173

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=webapixemphim

JWT_SECRET=change-me-to-a-long-random-string
JWT_EXPIRES_IN=7d

AWS_REGION=ap-southeast-1
AWS_S3_INPUT_BUCKET=netflop-input-yourname
AWS_S3_OUTPUT_BUCKET=netflop-output-yourname
AWS_CLOUDFRONT_DOMAIN=https://dxxxxx.cloudfront.net
AWS_MEDIACONVERT_ENDPOINT=https://abcd.mediaconvert.ap-southeast-1.amazonaws.com
AWS_MEDIACONVERT_ROLE_ARN=arn:aws:iam::<account-id>:role/NetflopMediaConvertRole
